#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh --with=python2 $@

override_dh_auto_build:
	rm -f msgpack/_msgpack.c
	for python in $(shell pyversions -r); do $$python setup.py build; done

install:
	dh install
	for python in $(shell pyversions -r); do $$python setup.py install --install-layout=deb --root=debian/python-msgpack; done
